<!--navbar-->
<nav class="navbar navbar-expand-lg" style="background-color: rgba(114, 8, 44, 1);">
    <div class="container px-5">
        <a class="navbar-brand" href="#page-top"><img src="/images/logo.png" alt="Transcendworx" width="150" height="40"
                class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/" style="color:#fff;margin-right:20px;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/team" style="color:#fff;margin-right:20px;">Our Team</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/services"
                        style="color:#fff;margin-right:20px;">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.sudcx.com/"
                        style="color:#fff;margin-right:20px;" target="_blank">SUDCx</a></li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#!" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color:#fff;">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <%if(loggedIn){%>
                        <li class="nav-item"><a class="nav-link" href="/posts/new"
                                style="color:#71002C;margin-right:20px;">New
                                Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/logout"
                                style="color:#71002C;margin-right:20px;">Log
                                Out</a></li>
                        <%}%>
                        <%if(!loggedIn){%>
                        <li class="nav-item"><a class="nav-link" href="/auth/login"
                                style="color:#71002C;margin-right:20px;">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/register"
                                style="color:#71002C;margin-right:20px;">Register</a></li>
                        <%}%>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>