<%- include('partials/header') -%>
<%- include('nav') -%>
<!--Main Section-->
<div class="container marketing">
    <hr class="featurette-divider" style="margin:5rem 0;">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Whitney I. Menarcherk</h2>
            <h3 class="featurette-heading fw-normal lh-1">Co-Founder / Consultant</h3>
            <h4 class="featurette-heading fw-normal lh-1">She/Her/Hers</h4>
            <p class="lead">
                Whitney is a co-founder and consultant with a background in counseling, business management, and
                health technology.
                With experience in leadership roles in non-profit, government, and for-profit organizations, Whitney
                merges her past experience as a professional counselor with her natural business acumen.
                She approaches each endeavor with a focus on empowering those she works with by playing to strengths
                and facilitating opportunities to build in areas of improvement.
                Whether volunteering or serving on boards, Whitney is committed to her community.
                She also hosts the podcast, <a href="https://reducethestigma.com" target="_blank">Reduce The
                    Stigma</a>, which amplifies silenced voices to combat stigma surrounding substance use, mental
                health and the challenging life experiences underneath.
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider" style="margin:5rem 0;">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Jessica Northcott-Brillati</h2>
            <h3 class="featurette-heading fw-normal lh-1">Co-Founder / Consultant</h3>
            <h4 class="featurette-heading fw-normal lh-1">She/Her/Hers</h4>
            <p class="lead">
                Jess is a co-founder and consultant with a background in social work, encompassing various
                healthcare settings and a proven track record in implementing grant-funded initiatives across
                multiple organizations.
                Jess leverages a strengths-based approach to enhance collaboration and innovative problem-solving,
                empowering communities to navigate challenges.
                She is particularly passionate about innovating within the recovery ecosystem, driving positive
                change and fostering resilience.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider" style="margin:5rem 0;">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Melissa Dittberner, Dr. Mo</h2>
            <h3 class="featurette-heading fw-normal lh-1">Consultant</h3>
            <h4 class="featurette-heading fw-normal lh-1">She/Her/Hers</h4>
            <p class="lead">
                Dr. Mo, (Melissa Dittberner), PhD, CPS, PS, LMT, is an award-winning faculty at the University of
                South Dakota.
                She is a Remarkable woman and Entrepreneurial Excellence winner, TEDx speaker, prevention specialist
                and peer specialist.
                Dr. Mo is the CEO of Straight Up Care, a telehealth platform for peer specialist.
                The Executive Director of Midwest Street Medicine, providing low-barrier care that addresses the
                vulnerable and unhoused populations medical, behavioral, and social needs.
                She is the co-author of, The Alcohol Reset, a cognitive method that is self-paced and set to
                encompass trauma informed, individualized perspective to create a healthy relationship with alcohol.
                Dr. Mo is a person in long-term recovery and her mission is to empower individuals to learn and
                navigate their paths to recovery and well-being.
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider" style="margin:5rem 0;">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Viktor Brillati</h2>
            <h3 class="featurette-heading fw-normal lh-1">Software Developer Consultant</h3>
            <h4 class="featurette-heading fw-normal lh-1">He/Him/His</h4>
            <p class="lead">
                Experienced Senior Technical Support Engineer with a strong background in troubleshooting and
                resolving complex technical issues. Adept at providing exceptional customer service and support
                through effective communication and problem-solving skills. Proficient in various software
                applications, hardware systems, and network configurations, with a proven ability to work
                collaboratively with cross-functional teams. Committed to continuous learning and staying updated on
                the latest technology trends to enhance support processes. Demonstrated success in improving system
                performance and customer satisfaction through proactive support strategies. Seeking to leverage
                technical expertise and passion for helping others in a challenging environment to contribute to
                organizational success.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider" style="margin:5rem 0;">
    <%- include('partials/footer') -%>