<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="biocontainer">
	<div class="display">
		<div class="display-item">
			<div class="card whitney">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image"></div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<h2>Whitney I. Menarcheck</h2>
						<h3>Co-Founder / Consultant</h3>
                        <h3>She/her/Hers</h3>
					</div>
					<div class="info-bio">
						With experience in leadership roles in non-profit, government, and for-profit organizations,
                        Whitney merges her past experience as a professional counselor with natuiral business acumen.
                        She approaches each endeavor with a focus on empowering those she works with by playing to strengths
                        and facilitating opportunities to build in areas of improvement.  Whether volunteering or serving on boards,
                        Whitney is committed to her community.
					</div>
					<div class="info-social">
						<div class="social-icons">
							<div class="sm link">
                                <i class="fa-brands fa-linkedin"></i> 
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="display-item">
			<div class="card jess">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image"></div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<h2>Jessica Northcott-Brillati</h2>
						<h3>Co-Founder / Consultant</h3>
                        <h3>She/her/Hers</h3>
					</div>
					<div class="info-bio">
                        Jessica is a social worker that has worked in a variety of health settings
                        and has supported the implementation of grant funded initiatives in several organizations. 
                        Jessica believes that supporting the people and organizations within a community is critical
                        to living life with meaning and connection. She uses a stengths based approach to enhance collaboration
                        and problem solving to overcome any obstacles a community may be facing.
					</div>
					<div class="info-social">
						<div class="social-icons">
							<div class="sm link">
                                <i class="fa-brands fa-linkedin"></i> 
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="display-item">
			<div class="card viktor">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image"></div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<h2>Viktor Brillati</h2>
						<h3>Software Developer Consultant</h3>
                        <h3>He/Him/His</h3>
					</div>
					<div class="info-bio">
                        Viktor is a seasoned Technical Support Engineer and junior Web Developer.
                        With over 5 years of of experience in the tech industusry Viktor has demonstrated 
                        success in troubleshooting complex techincal issues with a knowledge of programming and development. 
                        He prides himself in communicating technical concepts clearly and understandably.  
                        Viktor has experiste in frontend and backend technolgies and always looking to learn more. 
					</div>
					<div class="info-social">
						<div class="social-icons">
							<div class="sm link">
                                <i class="fa-brands fa-linkedin"></i> 
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer') -%>