<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <div class="card">
                <img src="/images/whitney3.jpg" class="card-img-top top-img" alt="Whitney I. Menarcherk">
                <div class="card-body">
                    <h4 class="card-title">Whitney I. Menarcherk</h4>
                    <h5 class="card-title">Co-Founder / Consultant</h5>
                    <h5 class="card-title">She/Her/Hers</h5>
                    <p class="card-text">
                        Whitney is a co-founder and consultant with a background in counseling, business management, and health technology. 
                        With experience in leadership roles in non-profit, government, and for-profit organizations, Whitney merges her past experience as a professional counselor with her natural business acumen. 
                        She approaches each endeavor with a focus on empowering those she works with by playing to strengths and facilitating opportunities to build in areas of improvement. 
                        Whether volunteering or serving on boards, Whitney is committed to her community. 
                        She also hosts the podcast, <a href="https://reducethestigma.com" target="_blank">Reduce The Stigma</a>, which amplifies silenced voices to combat stigma surrounding substance use, mental health and the challenging life experiences underneath.
                    </p>
                    <!--<p class="card-text">
                        Whitney lives with her wife and two rescue German Shepherds in Pittsbrugh - CC and Abby
                    </p>
                    <div class="bottomboxes">
                        <div>
                            <img src="/images/CC.jpg" class="bottom-image" alt="CC">
                            <h6>- CC</h6>
                        </div>
                        <div>
                            <img src="/images/Abby.jpg" class="bottom-image" alt="Abby">
                            <h6>- Abby</h6>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4">
            <div class="card">
                <img src="/images/jess2.jpg" class="card-img-top top-img" alt="Jessica Northcott-Brillati">
                <div class="card-body">
                    <h4 class="card-title">Jessica Northcott-Brillati</h4>
                    <h5 class="card-title">Co-Founder / Consultant</h5>
                    <h5 class="card-title">She/Her/Hers</h5>
                    <p class="card-text">
                        Jess is a co-founder and consultant with a background in social work, encompassing various healthcare settings and a proven track record in implementing grant-funded initiatives across multiple organizations. 
                        Jess leverages a strengths-based approach to enhance collaboration and innovative problem-solving, empowering communities to navigate challenges. 
                        She is particularly passionate about innovating within the recovery ecosystem, driving positive change and fostering resilience. 
                    </p>
                    <!--<p class="card-text">
                        Jessica spends most of her free time with her husband and two Dachshunds - Oscar and Fenway. 
                    </p>
                    <div class="bottomboxes">
                        <div>
                            <img src="/images/oscar.jpg" class="bottom-image" alt="Oscar">
                            <h6>- Oscar</h6>
                        </div>
                        <div>
                            <img src="/images/fen.jpg" class="bottom-image" alt="Fenway">
                            <h6>- Fenway</h6>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4">
            <div class="card" id="card3">
                <img src="/images/melissa.jpg" class="card-img-top top-img" alt="Melissa Dittberner, Dr. Mo">
                <div class="card-body">
                    <h4 class="card-title">Melissa Dittberner, Dr. Mo</h4>
                    <h5 class="card-title">Consultant</h5>
                    <h5 class="card-title">She/Her/Hers</h5>
                    <p class="card-text">
                        Dr. Mo, (Melissa Dittberner), PhD, CPS, PS, LMT, is an award-winning faculty at the University of South Dakota. 
                        She is a Remarkable woman and Entrepreneurial Excellence winner, TEDx speaker, prevention specialist and peer specialist.
                        Dr. Mo is the CEO of Straight Up Care, a telehealth platform for peer specialist. 
                        The Executive Director of Midwest Street Medicine, providing low-barrier care that addresses the vulnerable and unhoused populations medical, behavioral, and social needs.
                        She is the co-author of, The Alcohol Reset, a cognitive method that is self-paced and set to encompass trauma informed, individualized perspective to create a healthy relationship with alcohol.
                        Dr. Mo is a person in long-term recovery and her mission is to empower individuals to learn and navigate their paths to recovery and well-being.
                    </p>
                    <!--<div class="bottomboxes">
                        <div>
                            <img src="" class="bottom-image" alt="">
                            <h6></h6>
                        </div>
                        <div>
                            <img src="" class="bottom-image" alt="">
                            <h6></h6>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4">
            <div class="card">
                <img src="/images/VTBprofile.jpg" class="card-img-top top-img" alt="Viktor Brillati">
                <div class="card-body">
                    <h4 class="card-title">Viktor Brillati</h4>
                    <h5 class="card-title">Software Developer Consultant</h5>
                    <h5 class="card-title">He/Him/His</h5>
                    <p class="card-text">
                        Viktor is a seasoned Technical Support Engineer and Junior Web Developer.
                        With over 5 years of of experience in the tech industusry Viktor has demonstrated 
                        success in troubleshooting complex techincal issues with a knowledge of programming and development. 
                        He prides himself in communicating technical concepts clearly and understandably.  
                        Viktor has experiste in frontend and backend technolgies and always looking to learn more.
                    </p>
                    <!--<div class="bottomboxes">
                        <div>
                            <img src="" class="bottom-image" alt="">
                            <h6>- Oscar</h6>
                        </div>
                        <div>
                            <img src="" class="bottom-image" alt="">
                            <h6>- Fenway</h6>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>