<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<!-- Page Header
<header class="masthead" style="background-image: url('')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Create New Post</h1>
        </div>
      </div>
    </div>
  </div>
</header>-->
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <form action="/posts/store" method="POST" enctype="multipart/form-data">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title" type="text" placeholder="Title" />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="title">Description</label>
                <textarea class="form-control" name="body" id="body" rows="5"></textarea>
                <script>
                  $(document).ready(function () {
                    $('#body').summernote({
                      placeholder: 'Hello Bootstrap 5',
                      tabsize: 2,
                      height: 200
                    });
                  });
                </script>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="image">Image</label>
                <input class="form-control" id="image" name="image" type="file">
              </div>
            </div>
            <br />
            <div class="form-group">
              <button type="submit" class="btn" id="sendMessageButton">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>