<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="bg-img">
    <div class="formdiv">
        <form action="">
            <header>
                <h2>Request A Consult</h2>
                <div>Please fill out the form and begin your journey!</div>
            </header>
            <div>
                <label class="desc" id="fname" for="fname">First Name</label>
                <div>
                    <input id="fname" name="fname" type="text" class="field text fn" value="" size="8" tabindex="2" placeholder="First Name">
                </div>
            </div>

            <div>
                <label class="desc" id="lname" for="lname">Last Name</label>
                <div>
                    <input id="lname" name="lname" type="text" class="field text fn" value="" size="8" tabindex="2" placeholder="Last Name">
                </div>
            </div>

            <div>
                <label class="desc" id="email" for="email">Email</label>
                <div>
                    <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" placeholder="Email Address"> 
                </div>
            </div>

            <div>
                <label class="desc" id="tel" for="tel">Phone Number</label>
                <div>
                    <input id="tel" name="tel" type="tel" class="field text fn" value="" tabindex="4" placeholder="Phone Number">
                </div>
            </div>
        
            <div>
                <label class="desc" id="org" for="org">Organization</label>
                <div>
                    <input id="org" name="org" type="text" class="field text fn" value="" size="8" tabindex="2" placeholder="Organization Name">
                </div>
            </div>
        
            <div>
                <label class="desc" id="msg" for="msg">Request</label>
                <div>
                    <textarea id="msg" name="msg" spellcheck="true" rows="10" cols="50" tabindex="5" placeholder="Please tell us what services you would like from us"></textarea>
                </div>
            </div>
        
            <div>
	        	<div>
                    <a href="mailto:info@trancsendworx.com" target="_blank" class="hero-button" title="submit">Send Request</a>
                </div>
	        </div>
        </form>
    </div>
</div>
<%- include('partials/footer') -%>