<!--Main-->
<header class="py-5" id="main">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5  text-white mb-2 mb-5"
                        style="color:#71002C !important;font-family:'Playfair Display';">Accelerating Innovations for
                        Substance Use Disorder and Recovery</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-lg px-4 me-sm-3"
                            style="background-color:#71002C;border-color:#c0c0c0;color:#fff" href="#form">Request A Free
                            Consult</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><!--<img class="img-fluid rounded-3 my-5"
                    src="css/support.jpg" alt="..." />--></div>
        </div>
    </div>
</header>