<section class="hero image-as-background" style="background-image: url('https://images.unsplash.com/photo-1629730126973-a158c1fcd898?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="hero-container">
        <h1 class="hero-title animate fadeInLeft delay-600">Transform and Surpass</h1>
        <p class="animate fadeInLeft delay-400">Eliminating obstacles and cultivating opportunities for organizations to transcend the status quo</p>
        <a href="/form" class="hero-button animate fadeInLeft delay-800" title="Free Consult">Request a Free Consult</a>
    </div>
</section>
