<!-- Mission Section-->
<section class="py-5" style="background-color: rgba(114, 8, 44, .5);color:#fff;">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Our Mission</h2>
                <p class="mb-0">At Transcendworx, we unite innovators, researchers, and community organizations to forge
                    vital partnerships and foster
                    collaborative learning. Through our virtual network and consulting services, we ensure that
                    groundbreaking practices in
                    substance use disorder care quickly reach those who need them most.</p>
            </div>
        </div>
    </div>
</section>