<div class="parent">
  <figure class="snip1336"><img src="/images/flower2.jpg" alt="Flower" />
    <figcaption>
      <img src="/images/whitney1.jpg" alt="Whitney I. Menarcheck" class="profile" />
      <h2>Whitney I. Menarcheck<span>Co-Owner</span></h2>
      <p></p>
      <a href="/bio" class="info">More Info</a>
    </figcaption>
  </figure>
  <figure class="snip1336"><img src="/images/flower.jpg" alt="Flower" />
    <figcaption>
      <img src="/images/jess.jpg" alt="Jessica Northcott-Brillati" class="profile" />
        <h2>Jessica Northcott-Brillati<span>Co-Owner</span></h2>
        <p></p>
      <a href="/bio" class="info">More Info</a>
    </figcaption>
  </figure>
  <figure class="snip1336"><img src="/images/space.jpg" alt="Space" />
    <figcaption>
      <img src="/images/VTBprofile.jpg" alt="Viktor Brillati" class="profile" />
      <h2>Viktor Brillati<span>Software Developer Consultant</span></h2>
      <p></p>
      <a href="/bio" class="info">More Info</a>
    </figcaption>
  </figure>
</div>