<div class ="profile">
  <figure class="snip1495">
    <img src="/images/whitney3.jpg" alt="Whitney I. Menarcheck" />
    <figcaption>
      <h3>Whitney I. Menarcheck</h3>
      <div class="icons">
        <a href="/bio" class="myButton">About</a>
      </div>
    </figcaption>
  </figure>
  <figure class="snip1495">
    <img src="/images/jess2.jpg" alt="Jessica Northcott-Brillati" />
    <figcaption>
      <h3>Jessica Northcott-Brillati</h3>
        <div class="icons">
          <a href="/bio" class="myButton">About</a>
        </div>
    </figcaption>
  </figure>
  <figure class="snip1495">
      <img src="/images/melissa.jpg" alt="Melissa Dittberner, Dr. Mo" />
      <figcaption>
        <h3>Melissa Dittberner, Dr. Mo</h3>
        <div class="icons">
          <a href="/bio" class="myButton">About</a>
        </div>
      </figcaption>
  </figure>
  <figure class="snip1495">
      <img src="/images/VTBprofile.jpg" alt="Viktor Brillati" />
      <figcaption>
        <h3>Viktor Brillati</h3>
        <div class="icons">
          <a href="/bio" class="myButton">About</a>
        </div>
      </figcaption>
  </figure>
</div>