<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color:#71002C;">Services</h2>
            <p class="mb-5" style="color:#71002C !important;">All services offered are within the Substance Use Disorder
                and/or Recovery ecosystem. While our services
                vary in form,
                they all contribute to accelerating the dissemination of effective and innovative initiatives, products,
                and solutions
                to support individuals with Substance Use Disorder, in or pursuing Recovery, and their loved ones. Don't
                see the
                specific service you're looking for but think we can be of assistance? We'd be happy to explore ways to
                work together.</p>
        </div>
        <div class="row text-center" style="color:#71002C;">
            <div class="col-md-3">
                <img class="mx-auto mb-3" src="/images/services1.jpg" alt="service 1" height="300px" width="300px">
                <h4>Initiative, Program, or Business Management</h4>
                <ul style="text-align: left;">
                    <li>Market Research</li>
                    <li>Trends Analysis</li>
                    <li>Event or Services Analysis</li>
                    <li>Client/Customer Satisfaction</li>
                    <li>Focus Group Facilitation and Analysis</li>
                    <li>Operations Improvement</li>
                    <li>Policy, procedure, and protocol improvement</li>
                    <li>Strategic Plan Development</li>
                    <li>Needs Assessment</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img class="mx-auto mb-3" src="/images/services2.jpg" alt="service 2" height="300px" width="300px">
                <h4>Grant Development</h4>
                <ul style="text-align: left;">
                    <li>Ideation</li>
                    <li>Writing Support</li>
                    <li>Timeline Planning</li>
                    <li>Project Management of Application Process</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img class="mx-auto mb-3" src="/images/services3.png" alt="service 3" height="300px" width="300px">
                <h4>Technology Innovation and Implementation</h4>
                <ul style="text-align: left;">
                    <li>Market Research</li>
                    <li>Focus Group Facilitation and Analysis</li>
                    <li>Partner and Collaborator Introductions</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img class="mx-auto mb-3" src="/images/services4.png" alt="service 4" height="300px" width="300px" />
                <h4>Training and Education</h4>
                <ul style="text-align: left;">
                    <li>Curriculum Development</li>
                    <li>Stigma (available as a series or single session):</li>
                    <ul>
                        <li>Overview or stigma and impact on recovery outcomes</li>
                        <li>Stigma Reduction for Staff</li>
                        <li>Stigmatazing Language</li>
                    </ul>
                    <li>Additional topics as requested</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
<%- include('partials/footer') -%>