<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="container">
    <div class="row">
        <div class="col-12 text-center" id="firstDiv">
            <h1 class="font-weight-light">Our Services</h1>
            <p>
                All services are wtihin the Substance Use Disorder / Recovery ecosystem
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col" id="secondDiv">
            <ul class="services">
                <li class="header">Initiative, Program, or Business Management:</li>
                    <ul class="listItems">
                        <li class="">Market Research</li>
                        <li class="">Trends Analysis</li>
                        <li class="">Event or Services Analysis</li>
                        <li class="">Client/Customer Satisfaction</li>
                        <li class="">Focus Group Facilitation and Analysis</li>
                        <li class="">Operations Improvement</li>
                        <li class="">Policy, procedure, and protocol improvement</li>
                        <li class="">Strategic Plan Development</li>
                        <li class="">Needs Assessment</li>
                    </ul>
            </ul>
        </div>
        <div class="col" id="secondDiv">
            <ul class="services">
                <li class="header">Technology Innovation and Implementation:</li>
                    <ul class="listItems">
                        <li class="">Market Research</li>
                        <li class="">Focus Group Facilitation and Analysis</li>
                    </ul>
            </ul>
        </div>
        <div class="col" id="secondDiv">
            <ul class="services">
                <li class="header">Training / Education:</li>
                    <ul class="sublist">
                        <li class="">Curriculum Development</li>
                        <li class="secondaryHeader">Stigma (available as a series or single session):</li>
                            <ul class="listItems">
                                <li class="">Overview or stigma and impact on recovery outcomes</li>
                                <li class="">Stigma Reduction for Staff</li>
                                <li class="">Stigmatazing Language</li>
                                <li class="">Additional topics as requested</li>
                            </ul>
                    </ul>
            </ul>
        </div>
        <div class="col" id="secondDiv">
            <ul class="services">
                <li class="header">Grant Developement:</li>
                    <ul class="listItems">
                        <li class="">Ideation</li>
                        <li class="">Writing Support</li>
                        <li class="">Timeline Planning</li>
                        <li class="">Project Management of Application Process</li>
                    </ul>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>