<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<!-- Header-->
<header class="py-5" style="background-color: #fff; color:#71002C;">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">Meet Our Amazing Team</h1>
                    <p class="lead mb-4">With over 30 years of experience our talented team is ready
                        to work on your behalf</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/whitney.jpg"
                        alt="Whitney I. Menarcheck" />
                    <h4>Whitney I. Menarcheck</h4>
                    <p class="text-muted">Whitney is a co-founder, consultant, and podcast host with a background in
                        counseling, business management, and health
                        technology.<span id="dots">...</span><span id="more" style="display: none;">With experience in
                            leadership roles in non-profit, government, and for-profit
                            organizations, Whitney merges
                            her past experience as a professional counselor with her natural business acumen. She
                            approaches
                            each endeavor with a
                            focus on empowering those she works with by playing to strengths and facilitating
                            opportunities
                            to build in areas of
                            improvement. Whether volunteering or serving on boards, Whitney is committed to her
                            community.
                            She also hosts the
                            podcast, Reduce The Stigma, which amplifies silenced voices to combat stigma surrounding
                            substance use, mental health
                            and the challenging life experiences underneath.</span></p>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                    <div class="row">
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="">
                                <i class="fa-solid fa-globe"></i></a>
                        </div>
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="">
                                <i class="fab fa-spotify"></i></a>
                        </div>
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="">
                                <i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/jess2.jpg"
                        alt="Jessica Northcott-Brillati" />
                    <h4>Jessica Northcott-Brillati</h4>
                    <p class="text-muted">Jess is a co-founder and consultant with a background in social work,
                        encompassing various healthcare settings <span id="dots1">...</span><span id="more1"
                            style="display: none;"> and a
                            proven track record in implementing grant-funded initiatives across multiple organizations.
                            Jess
                            leverages a
                            strengths-based approach to enhance collaboration and innovative problem-solving, empowering
                            communities to navigate
                            challenges. She is particularly passionate about innovating within the recovery ecosystem,
                            driving positive change and
                            fostering resilience.</span></p>
                    <button onclick="myFunction1()" id="myBtn1">Read more</button>
                    <div class="row">
                        <div class="col-lg-12 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="Jessica LinkedIn Profile"><i
                                    class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/melissa.jpg"
                        alt='Melissa Dittberner, "Dr. Mo"' />
                    <h4>Melissa Dittberner, "Dr. Mo"</h4>
                    <p class="text-muted">Dr. Mo, (Melissa Dittberner), PhD, CPS, PS, LMT, is an award-winning faculty
                        at the University of South Dakota. She is a
                        Remarkable woman and Entrepreneurial Excellence winner <span id="dots2">...</span><span
                            id="more2" style="display: none;">
                            , TEDx speaker, prevention specialist and
                            peer specialist.
                            Dr. Mo
                            is the CEO of Straight Up Care, a telehealth platform for peer specialist. The Executive
                            Director of Midwest Street
                            Medicine, providing low-barrier care that addresses the vulnerable and unhoused populations
                            medical, behavioral, and
                            social needs. She is the co-author of, The Alcohol Reset, a cognitive method that is
                            self-paced
                            and set to encompass
                            trauma informed, individualized perspective to create a healthy relationship with alcohol.
                            Dr.
                            Mo is a person in
                            long-term recovery and her mission is to empower individuals to learn and navigate their
                            paths
                            to recovery and
                            well-being.</span></p>
                    <button onclick="myFunction2()" id="myBtn2">Read more</button>
                    <div class="row">
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                    class="fa-solid fa-globe"></i></a>
                        </div>
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                    class="fa-brands fa-amazon"></i></a>
                        </div>
                        <div class="col-lg-4 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                    class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/VTBprofile.jpg"
                        alt="Viktor Brillati" />
                    <h4>Viktor Brillati</h4>
                    <p class="text-muted">Viktor is a seasoned Technical Support Engineer and Junior Web Developer. With
                        over five years of experience in the tech
                        industry.<span id="dots3">...</span><span id="more3" style="display: none;">Viktor has
                            demonstrated success in troubleshooting complex technical issues with his
                            knowledge of programming
                            and development. He prides himself in communicating technical concepts clearly and
                            understandably. Viktor has expertise
                            in frontend and backend technologies as well as website design, hosting and management for
                            community nonprofits.</span></p>
                    <button onclick="myFunction3()" id="myBtn3">Read more</button>
                    <div class="row">
                        <div class="col-lg-12 my-4">
                            <a class="btn btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h3 class="section-heading text-uppercase mb-5" style="color:#71002C;">Pups in Residence</h3>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/Abby.jpg" alt="Abby" />
                    <h4>Abby</h4>
                    <p class="text-muted">Chief of Barking</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/fen.jpg" alt="Fenway" />
                    <h4>Fenway</h4>
                    <p class="text-muted">Assistant to the CDQ</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/oscar.jpg" alt='Oscar' />
                    <h4>oscar</h4>
                    <p class="text-muted">Chief Drama Queen</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle borderColor" src="/images/ziggy.png" alt='Ziggy' />
                    <h4>Ziggy</h4>
                    <p class="text-muted">Puppy Intern</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>