<!-- Values -->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0" style="color:#71002C">Our Values</h2>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <h2 class="h5" style="color:#71002C">Collaboration</h2>
                        <p class="mb-0">We believe in the power of partnerships, bringing together diverse voices and
                            expertise to drive impactful change in SUD
                            care and recovery.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <h2 class="h5" style="color:#71002C">Innovation</h2>
                        <p class="mb-0">We are committed to staying at the forefront of emerging practices, ensuring our
                            community has access to the latest
                            advancements in SUD treatment, prevention, and recovery.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <h2 class="h5" style="color:#71002C">Accessibility</h2>
                        <p class="mb-0">We prioritize making cutting-edge practices and knowledge readily available to
                            all communities, ensuring that innovation
                            reaches those who need it most, when they need it most.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <h2 class="h5" style="color:#71002C">Integrity</h2>
                        <p class="mb-0">We uphold the highest standards of honesty and transparency in all our
                            partnerships and services, building trust and
                            credibility with those we encounter.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>