<div class="container px-4 py-5 my-5">
  <h2 class="pb-2 border-bottom aboutus">About Us</h2>
  <div class="row">
    <div class="col-lg-6 col-sm-12 my-3">
      <h4 class="fw-semibold mb-0 text-body-emphasis">HOW WE DO IT:</h4>
      <p class="text-body-secondary">We leverage our significant experience in the SUD and Recovery space (over 40 years combined), our networks, and our passion to find the best solution to accelerate growth, development, and dissemination.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 my-3">
      <h4 class="fw-semibold mb-0 text-body-emphasis">WHY WE DO IT:</h4>
      <p class="text-body-secondary">The Substance Use Disorder and Recovery spaces have faced severe stigma and dismissal, slowing down the production and implementation of novel programs, technologies, strategies, and resources that could be saving lives. We’re tired of people dying. We’re tired of people not getting to live their best lives. We’re tired of wondering when something’s going to happen to make things better. That’s why we’re stepping in and stepping up.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 my-3">
      <h4 class="fw-semibold mb-0 text-body-emphasis">WHO SHOULD WORK WITH US: </h4>
      <p class="text-body-secondary"> Any person or organization that is trying to make a difference in the Substance Use Disorder and/or Recovery spaces who is hitting roadblocks and in need of assistance should schedule a free consultation with us today.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 my-3">
      <h4 class="fw-semibold mb-0 text-body-emphasis">WHO SHOULDN'T WORK WITH US:</h4>
      <p class="text-body-secondary">People and organizations that are focused on increasing the bottom line, contribute to stigma, or view substance use as a moral failure. You can have your opinions, they just don’t align with our values. If we can, we’d be happy to recommend someone who is better suited to assist you.
      </p>
    </div>
  </div>
</div>