<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-3 mb-5 mb-lg-0" style="justify-content: center;">
        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#71002C;"><i
            class="bi bi-question-circle"></i></i></div>
        <h2 class="h4 fw-bolder" style="font-family:'Playfair Display';">HOW WE DO IT:</h2>
        <p>We leverage our significant experience in the SUD and Recovery space (over 40 years combined),
          our networks, and our passion to find the best solution to accelerate growth, development, and
          dissemination.</p>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#716000;"><i
            class="bi bi-building"></i></div>
        <h2 class="h4 fw-bolder" style="font-family:'Playfair Display';">WHY WE DO IT:</h2>
        <p>The Substance Use Disorder and Recovery spaces have faced severe stigma and dismissal, slowing
          down the production and implementation of novel programs, technologies, strategies, and
          resources that could be saving lives. We’re tired of people dying. We’re tired of people not
          getting to live their best lives. We’re tired of wondering when something’s going to happen to
          make things better. That’s why we’re stepping in and stepping up.</p>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#71002C;"><i
            class="bi bi-person-check-fill"></i></div>
        <h2 class="h4 fw-bolder" style="font-family:'Playfair Display';">WHO SHOULD WORK WITH US:</h2>
        <p>Any person or organization that is trying to make a difference in the Substance Use Disorder
          and/or Recovery spaces who is hitting roadblocks and in need of assistance should schedule a
          free consultation with us today.</p>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#716000;"><i
            class="bi bi-exclamation-octagon-fill"></i></div>
        <h2 class="h4 fw-bolder" style="font-family:'Playfair Display';">WHO SHOULDN'T WORK WITH US:</h2>
        <p>People and organizations that are focused on increasing the bottom line, contribute to stigma, or
          view substance use as a moral failure. You can have your opinions, they just don’t align with
          our values. If we can, we’d be happy to recommend someone who is better suited to assist you.
        </p>
      </div>
    </div>
  </div>
</section>