.bg-img {
    background-image: url('https://images.unsplash.com/photo-1583161056973-c0375771efb3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fG1hcm9vbnxlbnwwfHwwfHx8MA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 380px;
    width: auto;
    height: 100%;
}
.formdiv {
    background-color: rgba(192,192,192,0.4);
    width: 60%;
    margin: 0 auto;
}

form {
    padding: 20px 15%;
}

form header {
    margin: 0 0 20px 0; 
}
form header div {
    font-size: 90%;
    color: #71002c;
}
form header h2 {
    margin: 0 0 5px 0;
    color: #71002c;
    font-weight: bold;
}
.desc {
    color: #71002c;
    font-size: 1.2rem;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
    padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=tel],
textarea {
	width: 100%;
    border-top: 1px solid #71002c;
    border-left: 1px solid #71002c;
    border-right: 1px solid #71002c;
    border-bottom: 1px solid #71002c;
}
input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=password] {
    width: 50%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea:focus {
    outline: 0;
    border-color: #71002c;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  input[type=tel],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}