body {
    background-color: #726408;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*navbar*/
.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar-brand {
    padding-left: 40px;
}

.nav-item {
    margin-right: 30px;
    font-weight: bold;
}

.nav-link {
    font-size: 1.5rem;
    color: #72082C;
}

.nav-link:hover {
    color: #085272;
}

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*main section*/
.hero {
    padding-bottom: 90px;
    background-image: url('https://images.unsplash.com/photo-1629730126973-a158c1fcd898?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* needed to prevent janky scrolling in Safari*/
    backface-visibility: hidden;
    /*100% height of the viewport*/
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media screen and (min-width:640px) {
        background-position: 50% 0;
    }

    /* Add a slight overlay on our image*/
    &:after {
        background-color: rgba(113, 0, 44, 0.5);
        bottom: 0;
        content: '';
        left: -2000%;
        position: absolute;
        right: -2000%;
        top: 0;
        z-index: 1;
    }
}

.hero-container {
    box-sizing: border-box;
    height: auto;
    padding: 30px 50px;
    position: relative;
    z-index: 2;

    /* set our fade for when the JS kicks in on scroll*/
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;

    @media screen and (min-width:640px) {
        height: 100%;
    }

    p {
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 6px;
        opacity: 0.8;
        text-transform: uppercase;
        text-align: left;
    }
}

.hero-button {
    background: rgba(114, 8, 44, 0.8);
    color: #fff;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 20px 90px;
    text-decoration: none;
    border-radius: 15px;
}

.hero-button:hover {
    background-color: #726408;
    color: #fff;
}

.hero-title {
    color: #fff;
    /* Respond to viewport width–works well since we're sizing the image according viewport height*/
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 5px 0;
    text-align: left;
    width: 85%;

    @media screen and (min-width:640px) {
        font-size: 10vw;
    }
}

.main-content {
    height: auto;
    padding: 30px 50px;
    position: relative;
    width: 60%;
}

.main-content p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

/* Start Animation Tweaks
Need to refactory and Sassify–just proof-of-concept and testing right now
Basically tweaking transform, translates inside keyframes and adding delays*/

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-12px, 0, 0);
        /*transform: translate3d(-100%, 0, 0);*/
        transform: translate3d(-12px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animate {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.delay {
    animation-delay: 1s;
}

.delay-400 {
    animation-delay: 0.4s;
}

.delay-500 {
    animation-delay: 0.5s;
}

.delay-600 {
    animation-delay: 0.6s;
}

.delay-700 {
    animation-delay: 0.7s;
}

.delay-800 {
    animation-delay: 0.8s;
}

/*prpfile section*/
.profile {
    background-color: #726408;
    display: flex;
    margin: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 100%;
}

.snip1495 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    height: 315px;
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 16px;
    border-radius: 10%;
}

.snip1495 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1495 img {
    opacity: 1;
    width: 100%;
    vertical-align: top;
    height: 315px;
    width: 315px;
}

.snip1495 figcaption {
    background-color: rgba(114, 8, 44, 0.75);
    color: #fff;
    position: absolute;
    bottom: 15px;
    z-index: 2;
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 64px;
}

.snip1495 h3,
.snip1495 .icons {
    margin: 0;
    width: 50%;
}

.snip1495 h3 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
    padding: 8px 0;
}

.snip1495 .icons {
    text-align: right;

}

.snip1495 i {
    padding: 8px;
    display: inline-block;
    font-size: 22px;
    color: #fff;
    opacity: 0.8;
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
}

.snip1495 i:hover {
    opacity: 1;
    color: #f39c12;
    border-bottom: 4px solid #f39c12;
}

.snip1495:hover figcaption .icons,
.snip1495.hover figcaption .icons {
    opacity: 1;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #c0c0c0;
    background: linear-gradient(to bottom, #71002b 5%, #b3003f 100%);
    background-color: #71002b;
    border-radius: 3px;
    border: 1px solid #71002b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 16px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.myButton:hover {
    background: linear-gradient(to bottom, #b3003f 5%, #71002b 100%);
    background-color: #b3003f;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/*bio page*/
img {
    background-size: cover;
}

.card {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #72082C;
}

.top-img {
    background-image: url();
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 15px auto;
    border: 2px solid #71002C;
}

.card-body {
    text-align: center;
    color: #fff;
}

.bottomboxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
}

.bottom-image {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-image: url('https://images.unsplash.com/photo-1422565096762-bdb997a56a84?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZG9nfGVufDB8fDB8fHww');
}